#content-container {
  flex: 2;
  padding: 3em;
  height: 100%;
}

.content-section {
  display: none;

  h1 {
    font-size: 30px;
    text-transform: capitalize;
  }
}

.active {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}
