@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$background-image: url("../assets/background.jpg");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: white;
  font-family: "Montserrat", sans-serif;
}

body {
  background: $background-image;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100svh;
}

.main-container {
  // FLEX
  display: flex;
  align-items: center;
  justify-content: center;

  // SIZE & PADDING
  width: 80%;
  height: 80%;

  // POSITIONING
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // GLASSMORPHISM
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);
}

hr {
  height: 90%;
  border: 1px solid rgba(255, 255, 255, 0.22);
}

h1 {
  font-size: 1.3rem;
  font-weight: 800;
}

h4 {
  font-weight: 200;
  font-size: 0.9rem;
}
