// Ratio between menu and content section is 1:2
.menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 5em;
  padding: 3em;
}

// Designing the Menu Section

.menu-item {
  display: flex;
}

#welcome-wrapper {
  align-items: center;
  cursor: default;
  gap: 12px;

  img {
    width: 4rem;
    height: auto;
  }
}

#options-wrapper {
  flex-grow: 1;
  flex-direction: column;
  gap: 10px;

  padding-right: 10px;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
  }

  .option-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7.5px;
    border-radius: 10px;
    justify-content: space-between;

    cursor: default;
  }

  .option-item h4 {
    font-weight: 400;
  }

  .option-item img {
    width: 1.6em;
    height: auto;
  }

  .img-text-option-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

#account-wrapper {
  cursor: pointer;
  align-items: center;
  padding: 0.2em;
  border-radius: 10px;
  border: none;
  gap: 1em;

  h1 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  img {
    width: 2em;
    height: auto;
  }
}
