// Ratio between menu and content section is 1:2
.menu-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 100px
}

.content-section {
    flex: 2;
}


// Designing the Menu Section

.menu-item {
    display: flex;
    gap: 12px;

}

#welcome-wrapper {
    align-items: center;

    img {
        width: 70px;
        height: auto;
    }
}

#options-wrapper {
    flex-grow: 1;
    flex-direction: column;

    .option-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .option-item h4 {
        font-size: 18px;
        font-weight: 400;
    }

    .option-item img {
        width: 35px;
        height: auto;
    }
}

#account-wrapper {
}