$checked-box: url("../assets/checked-90.png");

.task-view {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
  }
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px;
  margin-right: 20px;
  border-radius: 10px;

  background: rgba(255, 255, 255, 0.024);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.221);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
  border: 1px solid rgba(255, 255, 255, 0.22);

  h4 {
    color: white;
    font-weight: 500;
  }

  img {
    width: 1.5em;
    height: auto;
    cursor: pointer;
  }

  .task-checkbox-container {
    display: flex;
    gap: 0.8em;
    align-items: center;

    input {
      appearance: none;
      -webkit-appearance: none;
      display: flex;
      align-content: center;
      justify-content: center;
      font-size: 2rem;
      padding: 0;
      width: 0.5em;
      height: 0.5em;
      border-radius: 0.1em;
      border: 0.01rem solid white;
    }

    input:checked {
      background: $checked-box;
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10px;
      padding: 0;
    }
  }
}

#task-dialog-wrapper {
  width: 800px;
  height: 500px;

  // Center the Dialog
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // Cool white glass background and white border
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.6px);
  -webkit-backdrop-filter: blur(14.6px);
  outline: none;
  border: 1px solid white;

  // Design Backdrop
  &::backdrop {
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.6px);
    -webkit-backdrop-filter: blur(14.6px);
  }

  .dialog-inner {
    display: flex;

    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding: 60px;

    h1 {
      font-size: 30px;
      font-weight: 600;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      .task-form-field {
        display: flex;
        gap: 1em;
        align-items: center;
        label {
          flex: 0.3;
        }
        input {
          flex: 1;
        }
        input[type="text"] {
          appearance: none;
          border: none;
          outline: none;
          border-bottom: 0.2em solid #c7c7c7;
          background: rgba(#a6a6a6, 0.2);
          border-radius: 0.2em 0.2em 0 0;
          padding: 0.4em;
          color: #ffffff;
        }
      }
    }
  }
}
